.gerenciar-users {
    margin-top: 100px;
}

.gerenciarUsers-title {
    text-align: center;
    font-weight: 900;
    font-size: 2.5em;
    padding: 3%;
    color: var(--cor-titulo);
}

.gerenciarUsers-list {
    width: 70%;
    background-color: var(--cor-secondary-background);
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.gerenciarUsers-list ul{
    background-color: var(--cor-item-background);
}

.gerenciarUsers-item-titulo {
    background-color: var(--cor-branco);
    border-style: solid;
    border-color: var(--cor-preto);
    border-width: 1px;
    padding: 20px;
    display: flex;
    justify-content: left;
    font-size: 1.5em;
    font-weight: 700;
}

.gerenciarUsers-item {
    background-color: var(--cor-branco);
    border-style: solid;
    border-color: var(--cor-preto);
    border-width: 1px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.gerenciarUsers-item-userName  {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
}

/* Delete */
.delete-icon {
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    /* display: 'flex'; */
    align-self: flex-end;
    /* float: 'right'; */
    /* background: url(../../../images/Delete.png); */
}

.btn-scroll {
    position: absolute;
    padding: 1%;
    right: 50%;
}