.criarMaterial-title {
    font-size: 2.3em;
    text-align: center;
    color: var(--cor-titulo);
}

#body-criar {
    margin: 0 8vw;
}

.criarMaterial-form {
    background-color: var(--cor-secondary-background);
    margin-bottom: 10vh;
}

.campo-forms {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    padding-top: 3vh;
}

.p-imagem-atual {
    color: #555;
    margin: 0 5vw;
    padding-top: 0px;
}

.text-input-criar, .texto-input {
    border-radius: 10px;
    margin-top: 0.3em;
    font-size: 1.5em;
    padding: 0.5em 0.8em;
    border: 1px solid #555;
    color: #555;
    background-color: var(--cor-item-background);
}

.file-input-criar {
    padding: 0.5em 0;
    color: #555;
    border-radius: 10px;
    margin-top: 0.3em;
    font-size: 1.5em;
}

.btn-add {
    display: flex;
    justify-content: space-around;
    margin: 5vh 3vw 0 3vw;
}

.btn-solicitar {
    display: flex;
    justify-content: center;
}

.botaoAdicionar {
    background-color: var(--cor-amarelo);
    color: var(--cor-roxo);
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 10px;
    padding: 0.8em 0.5em;
}

.botaoAdicionar:hover {
    color: var(--cor-roxo-escuro);
    transform: scale(1.05);
}