.homeAdmin {
    background-color: var(--cor-branco);
}

.header-style {
    background-color: var(--cor-roxo-escuro);
}

h1 {
    margin: 0;
}

/* .home-main {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
} */

.homeAdmin-title {
    font-weight: 900;
    font-size: 1.5em;
    color: var(--cor-roxo);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* padding: 5%; */
    margin: 10vh;
    justify-content: left;
}

.homeAdmin-proposals {
    /* margin: 50px; */
    /* display: flex;
    list-style: none;
    flex: 0 0 50%;
    gap: 5%; */
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 100px;
    padding: 50px;
    margin-left: 10vh;
}

.homeAdmin-proposals-proposal {
    /* align-items: left; */
    text-align: left;
    
    /* justify-content: left; */
    background-color: rgb(217, 217, 217);
    /* margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 3%; */
    /* float: left; */
    padding: 5%;
    /* width: fit-content; */
    /* height: fit-content; */
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* padding: 0%; */
}

.homeAdmin-proposal-title {
    font-weight: 900;
    font-size: 1.5em;
    color: var(--cor-roxo);
    text-align: center;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* padding: 5%; */
    /* margin: 10vh; */
    /* justify-content: left; */
}

/* .space  {
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
} */

.home-about {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10vh 0;
    background-color: var(--cor-branco);
}

.home-about-left {
    width: 45%;
}

.home-about-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-about-title {
    font-weight: 900;
    font-size: 2em;
    padding: 0 1em 1em 1em;

}

.home-about-description {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0 1.2em;
}

.home-about-image {
    width: 75%;
    height: 20em;
}

@media screen and (max-width: 903.20px){
    .homeAdmin-title {
        padding: 22% 0;
    }
}

@media screen and (max-width: 737.60px){
    .homeAdmin-title {
        padding: 21.5% 0;
    }
}