.home-main {
    background-image: url("../../images/astrocariri-home-background.png");
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    background-color: #4d2375;
    height: 60em;
    align-items: center;
    text-align: center;
}

/* “Somos feitos de poeira de estrelas. Nós somos uma maneira de o cosmos se autoconhecer.” - Carl Sagan
position: absolute;
width: 1107px;
height: 191px;
left: 86px;
top: 383px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 45px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

.home-main-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    display: flex;
}