a:link { 
  text-decoration: none;
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.navbar {
    background-color: #4d2375;
    color: #D9963F;
    display: flex;
    text-align: center;
    height: 4em;
}

.navbar-left {
    display:flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    padding-right: 20em;
}

.navbar-mid {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-right: 20em;
}

.navbar-right {
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: right;
}

.navbar-title {
    font-family: 'Merriweather';
    color: #D9963F;
    padding: 5px;
    font-size: 26px;
    font-weight: 600;
}

.navbar-text- {
    font-family: 'Merriweather';
    color: #D9963F;
    font-size: 20px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-text-username {
    font-family: 'Merriweather';
    color: #D9963F;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}

.navbar-pipe {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}

.navbar-icon-main {
    height: 40px;
    width: 40px;
}

.navbar-icon-user {
    height: 30px;
    width: 30px;
}