/* Engloba o título da página */
.materiais-title {
    text-align: center;
    font-weight: 900;
    font-size: 2.5em;
    padding: 3%;
    color: var(--cor-titulo);
}

/* Engloba todos os títulos de material */
.materiais-list {
    width: 70%;
    background-color: var(--cor-secondary-background);
    padding: 80px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/* Engloba um título de material */
.materiais-item {
    background-color: var(--cor-item-background);
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    display: flex;
    justify-content: left;
    font-size: 1.5em;
    font-weight: 400;
}

.input-box{
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}

.search-input{
    text-indent: 0.5rem;
    font-size: 1.2em;
    height: 2.2em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cor-preto);
    background-color: var(--cor-item-background);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    width: 25vw;
    text-align: center;
}

@media screen and (max-width: 720px){
    .materiais-list{
        background-color: transparent;
        width: 100%;
    }

    .materiais-item {
        background-color: var(--cor-secondary-background);
    }
}