.materiais-title {
    text-align: center;
    font-weight: 900;
    font-size: 2.5em;
    padding: 3%;
    color: var(--cor-roxo);
}

.materiais-list {
    width: 70%;
    background-color: var(--cor-cinza);
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.materiais-item {
    background-color: var(--cor-branco);
    border-style: solid;
    border-color: var(--cor-preto);
    border-width: 1px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 400;
}

.icon-excluir-material {
    width: 45px;
    height: 45px;
}

.btn-excluir-material:hover {
    transform: scale(1.07);
}