h1 {
    margin:0;
    color: var(--cor-roxo);
    font-size: 1em;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font-size: 1.5em;
}

.visualizarEvento {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--cor-branco);
}

.visualizarEvento-title {
    background-color: var(--cor-branco);
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    font-size: 2.5em;
    padding: 3%;
}

.visualizarEvento-infos {
    align-items: left;
    text-align: left;
    justify-content: left;
    background-color: var(--cor-cinza);
    padding: 3% 0%;
    margin: 3% 15% 5%;
}

.visualizarEvento-infos-entry {
    padding: 1% 10%;
}

.visualizarEvento-infos-entry-name {
    font-weight: 600;
    text-indent: 0%;
    padding: 1% 0%;
}

.visualizarEvento-infos-entry-value {
    font-size: 1.2em;
    height: auto;
    width: 100%;
    padding: 1% 2%;
    background-color: white;

    border-width: 1px;
    border-style: solid;
    border-color: var(--cor-preto);
    border-radius: 0.5rem;

    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}
